<header>
    <nav>
        <a href="/"><h1>Your Profile</h1></a>
        <ul>
            <h1><li><a href="/profiles">Profiles</a></li></h1>
            <h1><li><a href="/profiles/new">Add Profile</a></li></h1>
        </ul>
    </nav>
</header>