<h2>Add Profile</h2>
<form action="/profiles" method="POST"><%#/authors in routes/authors '/'.post section%>
    <%- include('_form_fields') %> 
    <a href="/profiles">Cancel</a><%#goes to authors page%>
    <button type="submit">Create</button>
</form>



